*
    padding 0
    margin 0
body,html
    width 100%
    height 100%
    // background #000
    //导航栏动画脚本
@keyframes ani_nav
    0%
        opacity 0
    60%
        opacity 0
    100%
        opacity 1
// 背景图片的动画脚本
@keyframes ani_es6-8-pic
    0%
        opacity 0
    40%
        opacity 0
    100%
        opacity 1
//背景图片上logo图片动画脚本
@keyframes ani_nio-logopic
    0%
        opacity 0
    45%
        opacity 0
    100%
        opacity 1
// 背景图片上第一行动画脚本
@keyframes ani_text
    0%
        opacity 0
        transform translateY(20px)
    80%
        opacity 0
        transform translateY(20px)
    90%
        opacity 0.7
        transform translateY(10px)
    100%
        opacity 1
        transform translateY(0)
// 背景图片上按钮动画脚本
@keyframes ani_button
    0%
        opacity 0
        transform translateY(20px)
    80%
        opacity 0
        transform translateY(20px)
    90%
        opacity 0.7
        transform translateY(10px)
    100%
        opacity 1
        transform translateY(0)
//轮播图片的动画效果
@keyframes ani_img
    0%
        opacity 0
    50%
        opacity .5
    100%
        opacity 1

//优化代码后的公共样式
li
    list-style none
a   
    text-decoration none
    color #000
    font-weight 600
    font-size 12px
.page-wrapper
    width 100%
    height 100%
    .header
        padding 15px 40px
        height 70px
        background #fff
        box-sizing border-box
        position relative
        animation ani_nav 0.8s ease-in 1
        .box-logo
            width 112px
            height 40px
            display inline-block
            position absolute
            z-index 1
            .logo
                display inline-block
                img 
                    background-size contain
                    background-repeat no-repeat
        .box-option
            display inline-block
            position absolute
            padding-left 162px
            top 15px
            letter-spacing 2px
            ul
                display inline-block
                padding 3px 0 0 0
                .special-option
                    display inline-block
                    padding 10px 20px 10px 20px
                    position relative
                    //导航栏NIO、formula样式
                    .nioLife-formula-line
                        display block
                        width 100%
                        height 2px
                        background #13d4c8
                        opacity 0
                        transform translateY(8px)
                        transition all 0.3s
                .special-option:hover
                    .nioLife-formula-line
                        opacity 1
                        transform translateY(5px)       
                .underline   
                    border-bottom 1px solid #cfcfcf
                    box-shadow 0 2px 4px 0 rgba(0,0,0,0.1)
                    border-radius 12px 12px 0 0
                .option
                    display inline-block
                    padding 10px 20px 10px 45px
                    position relative
                    //车
                    .box-car-service-weilai
                        position relative
                        .car
                            display inline-block
                            width 25px
                        //字旁边的箭头
                        span 
                            display inline-block
                            position absolute
                            top 5px
                            left -20px
                            width 7px
                            height 7px
                            border 1px solid #000
                            border-width 0 1px 1px 0 
                            transform rotateZ(45deg)
                            transition transform .01s
                            //改变箭头指向
                        .up
                            position absolute
                            top 10px
                            left -20px
                            transform rotateZ(-135deg) 
                            //三个有下拉框li标签的公共样式
                    .dropdown-box
                        display inline-block
                        border-radius 0 0 12px 12px
                        background #fff
                        position absolute
                        top 42px
                        left 0
                        display none   
                        z-index 1      
                    .box-style0
                        width 90px        
                        .box-style01
                            width 90px
                            border-bottom 1px solid #9b9b9b
                            .special
                                color #9b9b9b
                                font-size 10px
                                font-weight 100
                                padding 10px 0 12px 24px
                                cursor text
                            .list
                                font-size 12px
                                cursor pointer
                                position relative
                            li
                                font-weight 700
                                padding 0 0 12px 24px
                                margin-bottom 6px
                                span 
                                    display block
                                    width 26px
                                    height 2px
                                    background #13d4c8
                                    position absolute
                                    top 19px
                                    left 24px
                                    opacity 0
                                    transform translateY(6px)
                                    transition all .3s
                                .spanline
                                    opacity 1
                                    transform translateY(0)
                                    // transition opacity .3s,transform .3s
                        .box-style02
                            span 
                                display inline-block
                                color #9b9b9b
                                font-size 12px
                                font-weight 100
                                padding 10px 0 14px 24px
                            .box-eve
                                font-size 12px
                                padding 0 0 12px 24px
                                width 28.2px
                                height 14px
                                .style02-line
                                    display block
                                    width 100%
                                    height 2px
                                    background #13d4c8
                                    opacity 0
                                    transform translateY(8px)
                                    transition all 0.3s
                            .box-eve:hover
                                .style02-line
                                    opacity 1
                                    transform translateY(4px)  
                    .show
                        display block
                    //服务
                    .box-service
                        .service
                            display inline-block
                            width 66px
                    .box-style1
                        width 131px
                        height 121px
                        .box-style1-2
                            width 100%
                            height 103px
                            padding-top 18px
                            li
                                font-weight 650
                                padding 0 20px 0 20px
                                margin-bottom 8px
                                a
                                    display block
                                    width max-content
                                    padding-bottom 8px
                                    span 
                                        display block
                                        width 100%
                                        height 2px
                                        background #13d4c8  
                                        opacity 0
                                        transform translateY(10px)
                                        transition all .3s
                                    .spanline
                                        opacity 1
                                        transform translateY(5px)
                                        // transition opacity .3s,transform .3s
                    //蔚来
                    .box-weilai
                        .weilai
                            display inline-block
                            width 45px
                    .box-style2
                        width 110px
                        height 163px            
                        .box-style1-2
                            li
                                font-weight 650
                                padding 0 20px 0 20px
                                margin-bottom 12px
                                margin-top 13px
                                a
                                    display block
                                    width max-content
                                    padding-bottom 8px
                                    span 
                                        display block
                                        width 100%
                                        height 2px
                                        background #13d4c8  
                                        opacity 0
                                        transform translateY(10px)
                                        transition all .3s
                                    .spanline
                                        opacity 1
                                        transform translateY(5px)
                                        // transition opacity .3s,transform .3s
        //预约试驾
        .box-appointment
            height 40px
            width 178px
            float right
            box-sizing border-box
            padding 0 26px
            .appointment
                display inline-block
                font-size 14px
                font-weight 700 
                color #000
                background #fff
                // transition 0.3s ease-in
                width 126px
                height 36px
                line-height 36px  //让文字在容器垂直方向居中    可以设置行高对于容器高度
                text-align center  //让文字在容器水平方向居中
                border-radius 100px
                padding 0 10px
                border 2px solid #000
        .box-appointment:hover
            .appointment
                color #fff
                background #000
                opacity 1
        //为了解决代码冗余使用的公共类名写公共样式
    .body-pic
        //第一二张图片公共样式集合
        .box-pic-pub
            width 100%
            position relative
            background-color #000
            img 
                width 100%
                animation ani_es6-8-pic 1.5s ease-in 1
            .box-logo-bt-pub
                position absolute
                top 26%
                left 50%
                transform translate(-50%,-50%)
                max-width 1171px
                // width 100%
                .logo-bt-pub
                     margin 0 auto
                    .logo-pub
                        width 288px
                        margin 0 auto
                        line-height 17px
                        p
                            margin 0 auto
                    .button-pub-box
                        width 449px
                        height 50px
                        letter-spacing 2px
                        animation ani_button 1.9s ease-in
                        // opacity 0
                        // animation-delay 0.5s
                        .button-sty  //几张大图中的按钮的样式
                            display inline-block
                            font-size 16px
                            font-weight 700 
                            color #fff
                            transition 0.3s ease
                            width 186px
                            height 46px
                            line-height 46px  //让文字在容器垂直方向居中    可以设置行高对于容器高度
                            text-align center  //让文字在容器水平方向居中
                            border-radius 100px
                            padding 0 10px
                            border 2px solid #fff
            //下面四块结构的公共样式
        .box-pic-OPHP-pub
            width 100%
            height 100%
            .box-OPHP-pub
                box-sizing border-box
                padding 20px 20px 0 20px
                display flex
        //         .box-left-pub
        //         .box-right-pub
        //             .box-logo-bt-pub
        //                 .logo-bt-pub
        //                     .logo-pub

    .body-pic
        width 100%
        line-height 0
        position relative
        .box-pic-es6
            .pic-es6
            .pic-logo-button-box
                .logo-button-box
                    .pic-logo-box
                        height 113px
                        img 
                            width 288px
                            height 49px
                            margin-bottom 16px
                            animation ani_nio-logopic 1.5s ease-in 1
                        p
                            font-size 22px
                            width 288px
                            height 44px
                            color #fff
                            letter-spacing 26px
                            text-align center
                            font-weight 400
                            line-height 22px
                            animation ani_text 1.9s ease-in 
                            // animation-delay 0.5s
                    .pic-button-box
                        //报名试驾按钮
                        .button-box-1
                            float left 
                            padding 0
                        .button-box-1:hover
                            .button-1
                                color #000
                                background #fff
                                // opacity 1
                        //探索ES6按钮
                        .button-box-2
                            float right
                            padding 0
                        .button-box-2:hover
                            .button-2
                                color #000
                                background #fff
                                // opacity 1   
        .box-pic-es8
            .pic-es8
            .pic-logo-button-box
                .logo-button-box
                    .pic-logo-box
                        height 140px
                        img 
                            width 288px
                            height 49px
                            margin-bottom 16px
                            animation ani_nio-logopic 1.5s ease-in 1
                        .es8-text1
                            margin 0 auto
                            font-size 22px
                            width 308px
                            height 30px
                            color #fff
                            letter-spacing 22px
                            text-align justify
                            font-weight 400
                            line-height 22px
                            animation ani_text 1.9s ease-in 
                            // animation-delay 0.5s
                        .es8-text2
                            margin 0 auto
                            font-size 16px
                            width 296px
                            height 16px
                            color #fff
                            letter-spacing 7px
                            text-align justify
                            font-weight normal
                            line-height 22px
                            animation ani_text 1.9s ease-in 
                            // animation-delay 0.2s
                    .pic-button-box
                        // opacity 0
                        // animation-delay 0.5s
                        //报名试驾按钮
                        .button-box-1
                            float left 
                            padding 0
                        .button-box-1:hover
                            .button-1
                                color #000
                                background #fff
                                // opacity 1
                        //探索ES6按钮
                        .button-box-2
                            float right
                            padding 0
                        .button-box-2:hover
                            .button-2
                                color #000
                                background #fff
                                // opacity 1
        .box-pic-OS-Pilot
            .box-OS-Pilot
                //Flex布局方向控制  row-reverse 表示从右向左排列 column 表示从上向下排列 column-reverse 表示从下向上排列
                // flex-direction row //flex布局方向由左到右  
                // flex-wrap nowrap
                .box-pic-OS
                    padding-right 10px  
                    // float left 
                    box-sizing border-box
                    width 50%
                    height 100%
                    position relative    
                    .pic-OS
                        background-repeat no-repeat  
                        // 以下操作是为了让img 图片等比例自动缩放的
                        width 100%
                        height auto
                        max-width 100%
                        max-height 100%
                    .pic-logo-button-box
                        position absolute
                        top 28%
                        left 52%
                        transform translate(-50%,-50%)
                        max-width 1171px
                        .logo-button-box
                            margin 0 auto
                            line-height 4
                            .pic-logo-box
                                width 580px
                                height 100px
                                margin 0 auto
                                line-height 21px
                                img 
                                    width 187.7px
                                    height 30px
                                    margin-bottom 5px
                                    margin-left 196px
                                    margin-right 196px
                                    animation ani_nio-logopic 1.5s ease-in 1
                                .OS-text1
                                    margin 0 auto
                                    font-size 16px
                                    width 225px
                                    height 24px
                                    color #fff
                                    // letter-spacing 22px
                                    text-align justify
                                    font-weight 300
                                    line-height 24px
                                    animation ani_text 1.9s ease-in 
                                    // animation-delay 0.5s
                                .OS-text2
                                    margin 0 auto
                                    font-size 16px
                                    width 225px
                                    height 24px
                                    color #fff
                                    // letter-spacing 22px
                                    text-align center
                                    font-weight 300
                                    line-height 28px
                                    animation ani_text 1.9s ease-in 
                                    // animation-delay 0.5s
                            .pic-button-box
                                width 580px
                                height 60px
                                letter-spacing 2px
                                animation ani_button 1.9s ease-in
                                // animation-delay 0.5s
                                //观看介绍视频按钮
                                .button-box-1
                                    width 210px
                                    height 50px
                                    margin 0 auto 
                                    .button-1
                                        display inline-block
                                        font-size 16px
                                        font-weight 700 
                                        color #fff
                                        transition 0.3s ease
                                        width 186px
                                        height 46px
                                        line-height 46px  //让文字在容器垂直方向居中    可以设置行高对于容器高度
                                        text-align center  //让文字在容器水平方向居中
                                        border-radius 100px
                                        padding 0 10px
                                        border 2px solid #fff
                                .button-box-1:hover
                                    .button-1
                                        color #000
                                        background #fff
                                        // opacity 1
                .box-pic-Pilot
                    padding-left 10px
                    // float right   
                    box-sizing border-box
                    width 50%
                    height 100%     
                    position relative
                    .pic-Pilot
                        background-repeat no-repeat
                        width 100%
                        height auto
                        max-width 100%
                        max-height 100%
                    .pic-logo-button-box
                        position absolute
                        top 28%
                        left 52%
                        transform translate(-50%,-50%)
                        max-width 1171px
                        .logo-button-box
                            margin 0 auto
                            line-height 4
                            .pic-logo-box
                                width 580px
                                height 100px
                                margin 0 auto
                                line-height 21px
                                img 
                                    width 187.7px
                                    height 30px
                                    margin-bottom 5px
                                    margin-left 196px
                                    margin-right 196px
                                    animation ani_nio-logopic 1.5s ease-in 1
                                .Pilot-text1
                                    margin 0 auto
                                    font-size 22px
                                    width 225px
                                    height 24px
                                    color #fff
                                    // letter-spacing 22px
                                    text-align justify
                                    font-weight 400
                                    line-height 24px
                                    animation ani_text 1.9s ease-in 
                                    // animation-delay 0.5s
                                .Pilot-text2
                                    margin 0 auto
                                    font-size 16px
                                    width 225px
                                    height 24px
                                    color #fff
                                    // letter-spacing 22px
                                    text-align center
                                    font-weight 300
                                    line-height 34px
                                    animation ani_text 1.9s ease-in 
                                    // animation-delay 0.5s
                            .pic-button-box
                                width 580px
                                height 60px
                                letter-spacing 2px
                                animation ani_button 1.9s ease-in
                                // animation-delay 0.5s
                                //报名试驾按钮
                                .button-box-1
                                    width 210px
                                    height 50px
                                    margin 0 auto 
                                    .button-1
                                        display inline-block
                                        font-size 16px
                                        font-weight 700 
                                        color #fff
                                        transition 0.3s ease
                                        width 186px
                                        height 46px
                                        line-height 46px  //让文字在容器垂直方向居中    可以设置行高对于容器高度
                                        text-align center  //让文字在容器水平方向居中
                                        border-radius 100px
                                        padding 0 10px
                                        border 2px solid #fff
                                .button-box-1:hover
                                    .button-1
                                        color #000
                                        background #fff
                                        // opacity 1
        .box-pic-House-Power
            .box-House-Power
                //Flex布局方向控制  row-reverse 表示从右向左排列 column 表示从上向下排列 column-reverse 表示从下向上排列
                // flex-direction row //flex布局方向由左到右  
                // flex-wrap nowrap
                .box-pic-House
                    padding-right 10px  
                    // float left 
                    box-sizing border-box
                    width 50%
                    height 100%
                    position relative    
                    .pic-House
                        background-repeat no-repeat  
                        // 以下操作是为了让img 图片等比例自动缩放的
                        width 100%
                        height auto
                        max-width 100%
                        max-height 100%
                    .pic-logo-button-box
                        position absolute
                        top 28%
                        left 52%
                        transform translate(-50%,-50%)
                        max-width 1171px
                        .logo-button-box
                            margin 0 auto
                            line-height 0
                            .pic-logo-box
                                width 580px
                                height 100px
                                margin 0 auto
                                line-height 21px
                                img 
                                    width 187.7px
                                    height 30px
                                    margin-bottom 5px
                                    margin-left 196px
                                    margin-right 196px
                                    animation ani_nio-logopic 1.5s ease-in 1
                                .House-text1
                                    margin 0 auto
                                    font-size 22px
                                    width 225px
                                    height 24px
                                    color #fff
                                    // letter-spacing 22px
                                    text-align center
                                    font-weight 400
                                    line-height 32px
                                    animation ani_text 1.9s ease-in 
                                    // animation-delay 0.5s
                            .pic-button-box
                                width 580px
                                height 60px
                                letter-spacing 2px
                                animation ani_button 1.9s ease-in
                                // animation-delay 0.5s
                                //观看介绍视频按钮
                                .button-box-1
                                    width 210px
                                    height 50px
                                    margin 0 auto 
                                    .button-1
                                        display inline-block
                                        font-size 16px
                                        font-weight 700 
                                        color #fff
                                        transition 0.3s ease
                                        width 186px
                                        height 46px
                                        line-height 46px  //让文字在容器垂直方向居中    可以设置行高对于容器高度
                                        text-align center  //让文字在容器水平方向居中
                                        border-radius 100px
                                        padding 0 10px
                                        border 2px solid #fff
                                .button-box-1:hover
                                    .button-1
                                        color #000
                                        background #fff
                                        // opacity 1
                .box-pic-Power
                    padding-left 10px
                    // float right   
                    box-sizing border-box
                    width 50%
                    height 100%     
                    position relative
                    .pic-Power
                        background-repeat no-repeat
                        width 100%
                        height auto
                        max-width 100%
                        max-height 100%
                    .pic-logo-button-box
                        position absolute
                        top 28%
                        left 52%
                        transform translate(-50%,-50%)
                        max-width 1171px
                        .logo-button-box
                            margin 0 auto
                            line-height 0
                            .pic-logo-box
                                width 580px
                                height 100px
                                margin 0 auto
                                line-height 21px
                                img 
                                    width 187.7px
                                    height 30px
                                    margin-bottom 5px
                                    margin-left 196px
                                    margin-right 196px
                                    animation ani_nio-logopic 1.5s ease-in 1
                                .Power-text1
                                    margin 0 auto
                                    font-size 22px
                                    width 225px
                                    height 24px
                                    color #fff
                                    // letter-spacing 22px
                                    text-align center
                                    font-weight 400
                                    line-height 32px
                                    animation ani_text 1.9s ease-in 
                                    // animation-delay 0.5s
                            .pic-button-box
                                width 580px
                                height 60px
                                letter-spacing 2px
                                animation ani_button 1.9s ease-in
                                // animation-delay 0.5s
                                //报名试驾按钮
                                .button-box-1
                                    width 210px
                                    height 50px
                                    margin 0 auto 
                                    .button-1
                                        display inline-block
                                        font-size 16px
                                        font-weight 700 
                                        color #fff
                                        transition 0.3s ease
                                        width 186px
                                        height 46px
                                        line-height 46px  //让文字在容器垂直方向居中    可以设置行高对于容器高度
                                        text-align center  //让文字在容器水平方向居中
                                        border-radius 100px
                                        padding 0 10px
                                        border 2px solid #fff
                                .button-box-1:hover
                                    .button-1
                                        color #000
                                        background #fff
                                        // opacity 1
        .box-cirs-imgs
            width 100%
            height 100%
            position relative
            .box-imgs
                display inline-block
                background-color rgb(165,165,165)
                .imgs
                    overflow hidden
                    li
                        width 100%
                        float left
                        img 
                            width 100%
                            height 100%
                        .ani
                            animation ani_img .5s ease 1
                            
            .box-cirs
                position absolute
                bottom 10px
                right 50%
                transform translateX(50%)
                li
                    float left
                    width 8px
                    height 8px
                    margin-right 5px
                    border-radius 50%
                    cursor pointer
                    background-color #00263c
                .active
                    background-color #00bebe
            .box-logo-text-bt
                position absolute
                top 50%
                left 50%
                transform: translate(-50%, -50%)
                color #fff
                .box-logo
                    width 228px
                    height 56px
                    margin-bottom 20px
                    img 
                        width 100%
                .boxs-text
                    line-height 20px
                    position relative
                    .box-text
                        position absolute
                        top 0
                        left 0
                    .showtext
                        animation ani_text 1s ease 1
                        h3
                            font-size 32px
                            line-height 32px
                            margin-bottom 40px
                            font-weight 100
                        p
                            font-size 16px
                            line-height 16px
                            margin-bottom 20px
                .box-bt
                    width 210px
                    height 50px
                    margin 0 0 0 0
                    // display none
                    .bt
                        display inline-block
                        font-size 16px
                        font-weight 700 
                        color #fff
                        transition 0.3s ease
                        width 186px
                        height 46px
                        line-height 46px  //让文字在容器垂直方向居中    可以设置行高对于容器高度
                        text-align center  //让文字在容器水平方向居中
                        border-radius 100px
                        padding 0 10px
                        border 2px solid #fff
                .box-bt:hover
                    .bt
                        color #000
                        background #fff
.footer
    .footer-text-pics
        margin 80px 89px 0 89px
        box-sizing border-box
        position relative
        .footer-text
            width 100%
            height 48px
            margin-bottom 40px
            .span
                margin 0 auto
                width 269px
                height 45px
                overflow hidden
                span 
                    display block
                    float left
                    font-size 34px
                    font-weight 300       
        .footer-pics
            width 229px
            height 114.5px
            margin 90px 0 60px 0
            display inline-block
            position relative
            left 48%
            transform translate(-50%)
            .img1 
                width 117px
                height 114.5px
                display inline-block
                img 
                    width 100%
            .img2
                width 160px
                height 54px
                margin-bottom 30px
                margin-top 30px
                display inline-block
                position absolute
                left 139px
                img 
                    width 100%
        .footer-a_ul
            .footer-left_ul
                position absolute
                left -69px
                span 
                    padding-right 10px
                    font-weight bold
                    font-size 14px
                ul
                    display inline-block
                    li
                        float left
                        letter-spacing 2px
                        font-size 15px
                        margin-right 20px
                        cursor pointer
                    li:hover
                        text-decoration underline  //添加下划线
                        


               
                    


                
                    
                
                            
                    


              



                
