* {
  padding: 0;
  margin: 0;
}
body,
html {
  width: 100%;
  height: 100%;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: #000;
  font-weight: 600;
  font-size: 12px;
}
.page-wrapper {
  width: 100%;
  height: 100%;
}
.page-wrapper .header {
  padding: 15px 40px;
  height: 70px;
  background: #fff;
  box-sizing: border-box;
  position: relative;
  animation: ani_nav 0.8s ease-in 1;
}
.page-wrapper .header .box-logo {
  width: 112px;
  height: 40px;
  display: inline-block;
  position: absolute;
  z-index: 1;
}
.page-wrapper .header .box-logo .logo {
  display: inline-block;
}
.page-wrapper .header .box-logo .logo img {
  background-size: contain;
  background-repeat: no-repeat;
}
.page-wrapper .header .box-option {
  display: inline-block;
  position: absolute;
  padding-left: 162px;
  top: 15px;
  letter-spacing: 2px;
}
.page-wrapper .header .box-option ul {
  display: inline-block;
  padding: 3px 0 0 0;
}
.page-wrapper .header .box-option ul .special-option {
  display: inline-block;
  padding: 10px 20px 10px 20px;
  position: relative;
}
.page-wrapper .header .box-option ul .special-option .nioLife-formula-line {
  display: block;
  width: 100%;
  height: 2px;
  background: #13d4c8;
  opacity: 0;
  transform: translateY(8px);
  transition: all 0.3s;
}
.page-wrapper .header .box-option ul .special-option:hover .nioLife-formula-line {
  opacity: 1;
  transform: translateY(5px);
}
.page-wrapper .header .box-option ul .underline {
  border-bottom: 1px solid #cfcfcf;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.1);
  border-radius: 12px 12px 0 0;
}
.page-wrapper .header .box-option ul .option {
  display: inline-block;
  padding: 10px 20px 10px 45px;
  position: relative;
}
.page-wrapper .header .box-option ul .option .box-car-service-weilai {
  position: relative;
}
.page-wrapper .header .box-option ul .option .box-car-service-weilai .car {
  display: inline-block;
  width: 25px;
}
.page-wrapper .header .box-option ul .option .box-car-service-weilai span {
  display: inline-block;
  position: absolute;
  top: 5px;
  left: -20px;
  width: 7px;
  height: 7px;
  border: 1px solid #000;
  border-width: 0 1px 1px 0;
  transform: rotateZ(45deg);
  transition: transform 0.01s;
}
.page-wrapper .header .box-option ul .option .box-car-service-weilai .up {
  position: absolute;
  top: 10px;
  left: -20px;
  transform: rotateZ(-135deg);
}
.page-wrapper .header .box-option ul .option .dropdown-box {
  display: inline-block;
  border-radius: 0 0 12px 12px;
  background: #fff;
  position: absolute;
  top: 42px;
  left: 0;
  display: none;
  z-index: 1;
}
.page-wrapper .header .box-option ul .option .box-style0 {
  width: 90px;
}
.page-wrapper .header .box-option ul .option .box-style0 .box-style01 {
  width: 90px;
  border-bottom: 1px solid #9b9b9b;
}
.page-wrapper .header .box-option ul .option .box-style0 .box-style01 .special {
  color: #9b9b9b;
  font-size: 10px;
  font-weight: 100;
  padding: 10px 0 12px 24px;
  cursor: text;
}
.page-wrapper .header .box-option ul .option .box-style0 .box-style01 .list {
  font-size: 12px;
  cursor: pointer;
  position: relative;
}
.page-wrapper .header .box-option ul .option .box-style0 .box-style01 li {
  font-weight: 700;
  padding: 0 0 12px 24px;
  margin-bottom: 6px;
}
.page-wrapper .header .box-option ul .option .box-style0 .box-style01 li span {
  display: block;
  width: 26px;
  height: 2px;
  background: #13d4c8;
  position: absolute;
  top: 19px;
  left: 24px;
  opacity: 0;
  transform: translateY(6px);
  transition: all 0.3s;
}
.page-wrapper .header .box-option ul .option .box-style0 .box-style01 li .spanline {
  opacity: 1;
  transform: translateY(0);
}
.page-wrapper .header .box-option ul .option .box-style0 .box-style02 span {
  display: inline-block;
  color: #9b9b9b;
  font-size: 12px;
  font-weight: 100;
  padding: 10px 0 14px 24px;
}
.page-wrapper .header .box-option ul .option .box-style0 .box-style02 .box-eve {
  font-size: 12px;
  padding: 0 0 12px 24px;
  width: 28.2px;
  height: 14px;
}
.page-wrapper .header .box-option ul .option .box-style0 .box-style02 .box-eve .style02-line {
  display: block;
  width: 100%;
  height: 2px;
  background: #13d4c8;
  opacity: 0;
  transform: translateY(8px);
  transition: all 0.3s;
}
.page-wrapper .header .box-option ul .option .box-style0 .box-style02 .box-eve:hover .style02-line {
  opacity: 1;
  transform: translateY(4px);
}
.page-wrapper .header .box-option ul .option .show {
  display: block;
}
.page-wrapper .header .box-option ul .option .box-service .service {
  display: inline-block;
  width: 66px;
}
.page-wrapper .header .box-option ul .option .box-style1 {
  width: 131px;
  height: 121px;
}
.page-wrapper .header .box-option ul .option .box-style1 .box-style1-2 {
  width: 100%;
  height: 103px;
  padding-top: 18px;
}
.page-wrapper .header .box-option ul .option .box-style1 .box-style1-2 li {
  font-weight: 650;
  padding: 0 20px 0 20px;
  margin-bottom: 8px;
}
.page-wrapper .header .box-option ul .option .box-style1 .box-style1-2 li a {
  display: block;
  width: max-content;
  padding-bottom: 8px;
}
.page-wrapper .header .box-option ul .option .box-style1 .box-style1-2 li a span {
  display: block;
  width: 100%;
  height: 2px;
  background: #13d4c8;
  opacity: 0;
  transform: translateY(10px);
  transition: all 0.3s;
}
.page-wrapper .header .box-option ul .option .box-style1 .box-style1-2 li a .spanline {
  opacity: 1;
  transform: translateY(5px);
}
.page-wrapper .header .box-option ul .option .box-weilai .weilai {
  display: inline-block;
  width: 45px;
}
.page-wrapper .header .box-option ul .option .box-style2 {
  width: 110px;
  height: 163px;
}
.page-wrapper .header .box-option ul .option .box-style2 .box-style1-2 li {
  font-weight: 650;
  padding: 0 20px 0 20px;
  margin-bottom: 12px;
  margin-top: 13px;
}
.page-wrapper .header .box-option ul .option .box-style2 .box-style1-2 li a {
  display: block;
  width: max-content;
  padding-bottom: 8px;
}
.page-wrapper .header .box-option ul .option .box-style2 .box-style1-2 li a span {
  display: block;
  width: 100%;
  height: 2px;
  background: #13d4c8;
  opacity: 0;
  transform: translateY(10px);
  transition: all 0.3s;
}
.page-wrapper .header .box-option ul .option .box-style2 .box-style1-2 li a .spanline {
  opacity: 1;
  transform: translateY(5px);
}
.page-wrapper .header .box-appointment {
  height: 40px;
  width: 178px;
  float: right;
  box-sizing: border-box;
  padding: 0 26px;
}
.page-wrapper .header .box-appointment .appointment {
  display: inline-block;
  font-size: 14px;
  font-weight: 700;
  color: #000;
  background: #fff;
  width: 126px;
  height: 36px;
  line-height: 36px;
  text-align: center;
  border-radius: 100px;
  padding: 0 10px;
  border: 2px solid #000;
}
.page-wrapper .header .box-appointment:hover .appointment {
  color: #fff;
  background: #000;
  opacity: 1;
}
.page-wrapper .body-pic .box-pic-pub {
  width: 100%;
  position: relative;
  background-color: #000;
}
.page-wrapper .body-pic .box-pic-pub img {
  width: 100%;
  animation: ani_es6-8-pic 1.5s ease-in 1;
}
.page-wrapper .body-pic .box-pic-pub .box-logo-bt-pub {
  position: absolute;
  top: 26%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 1171px;
}
.page-wrapper .body-pic .box-pic-pub .box-logo-bt-pub .logo-bt-pub {
  margin: 0 auto;
}
.page-wrapper .body-pic .box-pic-pub .box-logo-bt-pub .logo-pub {
  width: 288px;
  margin: 0 auto;
  line-height: 17px;
}
.page-wrapper .body-pic .box-pic-pub .box-logo-bt-pub .logo-pub p {
  margin: 0 auto;
}
.page-wrapper .body-pic .box-pic-pub .box-logo-bt-pub .button-pub-box {
  width: 449px;
  height: 50px;
  letter-spacing: 2px;
  animation: ani_button 1.9s ease-in;
}
.page-wrapper .body-pic .box-pic-pub .box-logo-bt-pub .button-pub-box .button-sty {
  display: inline-block;
  font-size: 16px;
  font-weight: 700;
  color: #fff;
  transition: 0.3s ease;
  width: 186px;
  height: 46px;
  line-height: 46px;
  text-align: center;
  border-radius: 100px;
  padding: 0 10px;
  border: 2px solid #fff;
}
.page-wrapper .body-pic .box-pic-OPHP-pub {
  width: 100%;
  height: 100%;
}
.page-wrapper .body-pic .box-pic-OPHP-pub .box-OPHP-pub {
  box-sizing: border-box;
  padding: 20px 20px 0 20px;
  display: flex;
}
.page-wrapper .body-pic {
  width: 100%;
  line-height: 0;
  position: relative;
}
.page-wrapper .body-pic .box-pic-es6 .pic-es6 .logo-button-box .pic-logo-box,
.page-wrapper .body-pic .box-pic-es6 .pic-logo-button-box .logo-button-box .pic-logo-box {
  height: 113px;
}
.page-wrapper .body-pic .box-pic-es6 .pic-es6 .logo-button-box .pic-logo-box img,
.page-wrapper .body-pic .box-pic-es6 .pic-logo-button-box .logo-button-box .pic-logo-box img {
  width: 288px;
  height: 49px;
  margin-bottom: 16px;
  animation: ani_nio-logopic 1.5s ease-in 1;
}
.page-wrapper .body-pic .box-pic-es6 .pic-es6 .logo-button-box .pic-logo-box p,
.page-wrapper .body-pic .box-pic-es6 .pic-logo-button-box .logo-button-box .pic-logo-box p {
  font-size: 22px;
  width: 288px;
  height: 44px;
  color: #fff;
  letter-spacing: 26px;
  text-align: center;
  font-weight: 400;
  line-height: 22px;
  animation: ani_text 1.9s ease-in;
}
.page-wrapper .body-pic .box-pic-es6 .pic-es6 .logo-button-box .pic-button-box .button-box-1,
.page-wrapper .body-pic .box-pic-es6 .pic-logo-button-box .logo-button-box .pic-button-box .button-box-1 {
  float: left;
  padding: 0;
}
.page-wrapper .body-pic .box-pic-es6 .pic-es6 .logo-button-box .pic-button-box .button-box-1:hover .button-1,
.page-wrapper .body-pic .box-pic-es6 .pic-logo-button-box .logo-button-box .pic-button-box .button-box-1:hover .button-1 {
  color: #000;
  background: #fff;
}
.page-wrapper .body-pic .box-pic-es6 .pic-es6 .logo-button-box .pic-button-box .button-box-2,
.page-wrapper .body-pic .box-pic-es6 .pic-logo-button-box .logo-button-box .pic-button-box .button-box-2 {
  float: right;
  padding: 0;
}
.page-wrapper .body-pic .box-pic-es6 .pic-es6 .logo-button-box .pic-button-box .button-box-2:hover .button-2,
.page-wrapper .body-pic .box-pic-es6 .pic-logo-button-box .logo-button-box .pic-button-box .button-box-2:hover .button-2 {
  color: #000;
  background: #fff;
}
.page-wrapper .body-pic .box-pic-es8 .pic-es8 .logo-button-box .pic-logo-box,
.page-wrapper .body-pic .box-pic-es8 .pic-logo-button-box .logo-button-box .pic-logo-box {
  height: 140px;
}
.page-wrapper .body-pic .box-pic-es8 .pic-es8 .logo-button-box .pic-logo-box img,
.page-wrapper .body-pic .box-pic-es8 .pic-logo-button-box .logo-button-box .pic-logo-box img {
  width: 288px;
  height: 49px;
  margin-bottom: 16px;
  animation: ani_nio-logopic 1.5s ease-in 1;
}
.page-wrapper .body-pic .box-pic-es8 .pic-es8 .logo-button-box .pic-logo-box .es8-text1,
.page-wrapper .body-pic .box-pic-es8 .pic-logo-button-box .logo-button-box .pic-logo-box .es8-text1 {
  margin: 0 auto;
  font-size: 22px;
  width: 308px;
  height: 30px;
  color: #fff;
  letter-spacing: 22px;
  text-align: justify;
  font-weight: 400;
  line-height: 22px;
  animation: ani_text 1.9s ease-in;
}
.page-wrapper .body-pic .box-pic-es8 .pic-es8 .logo-button-box .pic-logo-box .es8-text2,
.page-wrapper .body-pic .box-pic-es8 .pic-logo-button-box .logo-button-box .pic-logo-box .es8-text2 {
  margin: 0 auto;
  font-size: 16px;
  width: 296px;
  height: 16px;
  color: #fff;
  letter-spacing: 7px;
  text-align: justify;
  font-weight: normal;
  line-height: 22px;
  animation: ani_text 1.9s ease-in;
}
.page-wrapper .body-pic .box-pic-es8 .pic-es8 .logo-button-box .pic-button-box .button-box-1,
.page-wrapper .body-pic .box-pic-es8 .pic-logo-button-box .logo-button-box .pic-button-box .button-box-1 {
  float: left;
  padding: 0;
}
.page-wrapper .body-pic .box-pic-es8 .pic-es8 .logo-button-box .pic-button-box .button-box-1:hover .button-1,
.page-wrapper .body-pic .box-pic-es8 .pic-logo-button-box .logo-button-box .pic-button-box .button-box-1:hover .button-1 {
  color: #000;
  background: #fff;
}
.page-wrapper .body-pic .box-pic-es8 .pic-es8 .logo-button-box .pic-button-box .button-box-2,
.page-wrapper .body-pic .box-pic-es8 .pic-logo-button-box .logo-button-box .pic-button-box .button-box-2 {
  float: right;
  padding: 0;
}
.page-wrapper .body-pic .box-pic-es8 .pic-es8 .logo-button-box .pic-button-box .button-box-2:hover .button-2,
.page-wrapper .body-pic .box-pic-es8 .pic-logo-button-box .logo-button-box .pic-button-box .button-box-2:hover .button-2 {
  color: #000;
  background: #fff;
}
.page-wrapper .body-pic .box-pic-OS-Pilot .box-OS-Pilot .box-pic-OS {
  padding-right: 10px;
  box-sizing: border-box;
  width: 50%;
  height: 100%;
  position: relative;
}
.page-wrapper .body-pic .box-pic-OS-Pilot .box-OS-Pilot .box-pic-OS .pic-OS {
  background-repeat: no-repeat;
  width: 100%;
  height: auto;
  max-width: 100%;
  max-height: 100%;
}
.page-wrapper .body-pic .box-pic-OS-Pilot .box-OS-Pilot .box-pic-OS .pic-logo-button-box {
  position: absolute;
  top: 28%;
  left: 52%;
  transform: translate(-50%, -50%);
  max-width: 1171px;
}
.page-wrapper .body-pic .box-pic-OS-Pilot .box-OS-Pilot .box-pic-OS .pic-logo-button-box .logo-button-box {
  margin: 0 auto;
  line-height: 4;
}
.page-wrapper .body-pic .box-pic-OS-Pilot .box-OS-Pilot .box-pic-OS .pic-logo-button-box .logo-button-box .pic-logo-box {
  width: 580px;
  height: 100px;
  margin: 0 auto;
  line-height: 21px;
}
.page-wrapper .body-pic .box-pic-OS-Pilot .box-OS-Pilot .box-pic-OS .pic-logo-button-box .logo-button-box .pic-logo-box img {
  width: 187.7px;
  height: 30px;
  margin-bottom: 5px;
  margin-left: 196px;
  margin-right: 196px;
  animation: ani_nio-logopic 1.5s ease-in 1;
}
.page-wrapper .body-pic .box-pic-OS-Pilot .box-OS-Pilot .box-pic-OS .pic-logo-button-box .logo-button-box .pic-logo-box .OS-text1 {
  margin: 0 auto;
  font-size: 16px;
  width: 225px;
  height: 24px;
  color: #fff;
  text-align: justify;
  font-weight: 300;
  line-height: 24px;
  animation: ani_text 1.9s ease-in;
}
.page-wrapper .body-pic .box-pic-OS-Pilot .box-OS-Pilot .box-pic-OS .pic-logo-button-box .logo-button-box .pic-logo-box .OS-text2 {
  margin: 0 auto;
  font-size: 16px;
  width: 225px;
  height: 24px;
  color: #fff;
  text-align: center;
  font-weight: 300;
  line-height: 28px;
  animation: ani_text 1.9s ease-in;
}
.page-wrapper .body-pic .box-pic-OS-Pilot .box-OS-Pilot .box-pic-OS .pic-logo-button-box .logo-button-box .pic-button-box {
  width: 580px;
  height: 60px;
  letter-spacing: 2px;
  animation: ani_button 1.9s ease-in;
}
.page-wrapper .body-pic .box-pic-OS-Pilot .box-OS-Pilot .box-pic-OS .pic-logo-button-box .logo-button-box .pic-button-box .button-box-1 {
  width: 210px;
  height: 50px;
  margin: 0 auto;
}
.page-wrapper .body-pic .box-pic-OS-Pilot .box-OS-Pilot .box-pic-OS .pic-logo-button-box .logo-button-box .pic-button-box .button-box-1 .button-1 {
  display: inline-block;
  font-size: 16px;
  font-weight: 700;
  color: #fff;
  transition: 0.3s ease;
  width: 186px;
  height: 46px;
  line-height: 46px;
  text-align: center;
  border-radius: 100px;
  padding: 0 10px;
  border: 2px solid #fff;
}
.page-wrapper .body-pic .box-pic-OS-Pilot .box-OS-Pilot .box-pic-OS .pic-logo-button-box .logo-button-box .pic-button-box .button-box-1:hover .button-1 {
  color: #000;
  background: #fff;
}
.page-wrapper .body-pic .box-pic-OS-Pilot .box-OS-Pilot .box-pic-Pilot {
  padding-left: 10px;
  box-sizing: border-box;
  width: 50%;
  height: 100%;
  position: relative;
}
.page-wrapper .body-pic .box-pic-OS-Pilot .box-OS-Pilot .box-pic-Pilot .pic-Pilot {
  background-repeat: no-repeat;
  width: 100%;
  height: auto;
  max-width: 100%;
  max-height: 100%;
}
.page-wrapper .body-pic .box-pic-OS-Pilot .box-OS-Pilot .box-pic-Pilot .pic-logo-button-box {
  position: absolute;
  top: 28%;
  left: 52%;
  transform: translate(-50%, -50%);
  max-width: 1171px;
}
.page-wrapper .body-pic .box-pic-OS-Pilot .box-OS-Pilot .box-pic-Pilot .pic-logo-button-box .logo-button-box {
  margin: 0 auto;
  line-height: 4;
}
.page-wrapper .body-pic .box-pic-OS-Pilot .box-OS-Pilot .box-pic-Pilot .pic-logo-button-box .logo-button-box .pic-logo-box {
  width: 580px;
  height: 100px;
  margin: 0 auto;
  line-height: 21px;
}
.page-wrapper .body-pic .box-pic-OS-Pilot .box-OS-Pilot .box-pic-Pilot .pic-logo-button-box .logo-button-box .pic-logo-box img {
  width: 187.7px;
  height: 30px;
  margin-bottom: 5px;
  margin-left: 196px;
  margin-right: 196px;
  animation: ani_nio-logopic 1.5s ease-in 1;
}
.page-wrapper .body-pic .box-pic-OS-Pilot .box-OS-Pilot .box-pic-Pilot .pic-logo-button-box .logo-button-box .pic-logo-box .Pilot-text1 {
  margin: 0 auto;
  font-size: 22px;
  width: 225px;
  height: 24px;
  color: #fff;
  text-align: justify;
  font-weight: 400;
  line-height: 24px;
  animation: ani_text 1.9s ease-in;
}
.page-wrapper .body-pic .box-pic-OS-Pilot .box-OS-Pilot .box-pic-Pilot .pic-logo-button-box .logo-button-box .pic-logo-box .Pilot-text2 {
  margin: 0 auto;
  font-size: 16px;
  width: 225px;
  height: 24px;
  color: #fff;
  text-align: center;
  font-weight: 300;
  line-height: 34px;
  animation: ani_text 1.9s ease-in;
}
.page-wrapper .body-pic .box-pic-OS-Pilot .box-OS-Pilot .box-pic-Pilot .pic-logo-button-box .logo-button-box .pic-button-box {
  width: 580px;
  height: 60px;
  letter-spacing: 2px;
  animation: ani_button 1.9s ease-in;
}
.page-wrapper .body-pic .box-pic-OS-Pilot .box-OS-Pilot .box-pic-Pilot .pic-logo-button-box .logo-button-box .pic-button-box .button-box-1 {
  width: 210px;
  height: 50px;
  margin: 0 auto;
}
.page-wrapper .body-pic .box-pic-OS-Pilot .box-OS-Pilot .box-pic-Pilot .pic-logo-button-box .logo-button-box .pic-button-box .button-box-1 .button-1 {
  display: inline-block;
  font-size: 16px;
  font-weight: 700;
  color: #fff;
  transition: 0.3s ease;
  width: 186px;
  height: 46px;
  line-height: 46px;
  text-align: center;
  border-radius: 100px;
  padding: 0 10px;
  border: 2px solid #fff;
}
.page-wrapper .body-pic .box-pic-OS-Pilot .box-OS-Pilot .box-pic-Pilot .pic-logo-button-box .logo-button-box .pic-button-box .button-box-1:hover .button-1 {
  color: #000;
  background: #fff;
}
.page-wrapper .body-pic .box-pic-House-Power .box-House-Power .box-pic-House {
  padding-right: 10px;
  box-sizing: border-box;
  width: 50%;
  height: 100%;
  position: relative;
}
.page-wrapper .body-pic .box-pic-House-Power .box-House-Power .box-pic-House .pic-House {
  background-repeat: no-repeat;
  width: 100%;
  height: auto;
  max-width: 100%;
  max-height: 100%;
}
.page-wrapper .body-pic .box-pic-House-Power .box-House-Power .box-pic-House .pic-logo-button-box {
  position: absolute;
  top: 28%;
  left: 52%;
  transform: translate(-50%, -50%);
  max-width: 1171px;
}
.page-wrapper .body-pic .box-pic-House-Power .box-House-Power .box-pic-House .pic-logo-button-box .logo-button-box {
  margin: 0 auto;
  line-height: 0;
}
.page-wrapper .body-pic .box-pic-House-Power .box-House-Power .box-pic-House .pic-logo-button-box .logo-button-box .pic-logo-box {
  width: 580px;
  height: 100px;
  margin: 0 auto;
  line-height: 21px;
}
.page-wrapper .body-pic .box-pic-House-Power .box-House-Power .box-pic-House .pic-logo-button-box .logo-button-box .pic-logo-box img {
  width: 187.7px;
  height: 30px;
  margin-bottom: 5px;
  margin-left: 196px;
  margin-right: 196px;
  animation: ani_nio-logopic 1.5s ease-in 1;
}
.page-wrapper .body-pic .box-pic-House-Power .box-House-Power .box-pic-House .pic-logo-button-box .logo-button-box .pic-logo-box .House-text1 {
  margin: 0 auto;
  font-size: 22px;
  width: 225px;
  height: 24px;
  color: #fff;
  text-align: center;
  font-weight: 400;
  line-height: 32px;
  animation: ani_text 1.9s ease-in;
}
.page-wrapper .body-pic .box-pic-House-Power .box-House-Power .box-pic-House .pic-logo-button-box .logo-button-box .pic-button-box {
  width: 580px;
  height: 60px;
  letter-spacing: 2px;
  animation: ani_button 1.9s ease-in;
}
.page-wrapper .body-pic .box-pic-House-Power .box-House-Power .box-pic-House .pic-logo-button-box .logo-button-box .pic-button-box .button-box-1 {
  width: 210px;
  height: 50px;
  margin: 0 auto;
}
.page-wrapper .body-pic .box-pic-House-Power .box-House-Power .box-pic-House .pic-logo-button-box .logo-button-box .pic-button-box .button-box-1 .button-1 {
  display: inline-block;
  font-size: 16px;
  font-weight: 700;
  color: #fff;
  transition: 0.3s ease;
  width: 186px;
  height: 46px;
  line-height: 46px;
  text-align: center;
  border-radius: 100px;
  padding: 0 10px;
  border: 2px solid #fff;
}
.page-wrapper .body-pic .box-pic-House-Power .box-House-Power .box-pic-House .pic-logo-button-box .logo-button-box .pic-button-box .button-box-1:hover .button-1 {
  color: #000;
  background: #fff;
}
.page-wrapper .body-pic .box-pic-House-Power .box-House-Power .box-pic-Power {
  padding-left: 10px;
  box-sizing: border-box;
  width: 50%;
  height: 100%;
  position: relative;
}
.page-wrapper .body-pic .box-pic-House-Power .box-House-Power .box-pic-Power .pic-Power {
  background-repeat: no-repeat;
  width: 100%;
  height: auto;
  max-width: 100%;
  max-height: 100%;
}
.page-wrapper .body-pic .box-pic-House-Power .box-House-Power .box-pic-Power .pic-logo-button-box {
  position: absolute;
  top: 28%;
  left: 52%;
  transform: translate(-50%, -50%);
  max-width: 1171px;
}
.page-wrapper .body-pic .box-pic-House-Power .box-House-Power .box-pic-Power .pic-logo-button-box .logo-button-box {
  margin: 0 auto;
  line-height: 0;
}
.page-wrapper .body-pic .box-pic-House-Power .box-House-Power .box-pic-Power .pic-logo-button-box .logo-button-box .pic-logo-box {
  width: 580px;
  height: 100px;
  margin: 0 auto;
  line-height: 21px;
}
.page-wrapper .body-pic .box-pic-House-Power .box-House-Power .box-pic-Power .pic-logo-button-box .logo-button-box .pic-logo-box img {
  width: 187.7px;
  height: 30px;
  margin-bottom: 5px;
  margin-left: 196px;
  margin-right: 196px;
  animation: ani_nio-logopic 1.5s ease-in 1;
}
.page-wrapper .body-pic .box-pic-House-Power .box-House-Power .box-pic-Power .pic-logo-button-box .logo-button-box .pic-logo-box .Power-text1 {
  margin: 0 auto;
  font-size: 22px;
  width: 225px;
  height: 24px;
  color: #fff;
  text-align: center;
  font-weight: 400;
  line-height: 32px;
  animation: ani_text 1.9s ease-in;
}
.page-wrapper .body-pic .box-pic-House-Power .box-House-Power .box-pic-Power .pic-logo-button-box .logo-button-box .pic-button-box {
  width: 580px;
  height: 60px;
  letter-spacing: 2px;
  animation: ani_button 1.9s ease-in;
}
.page-wrapper .body-pic .box-pic-House-Power .box-House-Power .box-pic-Power .pic-logo-button-box .logo-button-box .pic-button-box .button-box-1 {
  width: 210px;
  height: 50px;
  margin: 0 auto;
}
.page-wrapper .body-pic .box-pic-House-Power .box-House-Power .box-pic-Power .pic-logo-button-box .logo-button-box .pic-button-box .button-box-1 .button-1 {
  display: inline-block;
  font-size: 16px;
  font-weight: 700;
  color: #fff;
  transition: 0.3s ease;
  width: 186px;
  height: 46px;
  line-height: 46px;
  text-align: center;
  border-radius: 100px;
  padding: 0 10px;
  border: 2px solid #fff;
}
.page-wrapper .body-pic .box-pic-House-Power .box-House-Power .box-pic-Power .pic-logo-button-box .logo-button-box .pic-button-box .button-box-1:hover .button-1 {
  color: #000;
  background: #fff;
}
.page-wrapper .body-pic .box-cirs-imgs {
  width: 100%;
  height: 100%;
  position: relative;
}
.page-wrapper .body-pic .box-cirs-imgs .box-imgs {
  display: inline-block;
  background-color: #a5a5a5;
}
.page-wrapper .body-pic .box-cirs-imgs .box-imgs .imgs {
  overflow: hidden;
}
.page-wrapper .body-pic .box-cirs-imgs .box-imgs .imgs li {
  width: 100%;
  float: left;
}
.page-wrapper .body-pic .box-cirs-imgs .box-imgs .imgs li img {
  width: 100%;
  height: 100%;
}
.page-wrapper .body-pic .box-cirs-imgs .box-imgs .imgs li .ani {
  animation: ani_img 0.5s ease 1;
}
.page-wrapper .body-pic .box-cirs-imgs .box-cirs {
  position: absolute;
  bottom: 10px;
  right: 50%;
  transform: translateX(50%);
}
.page-wrapper .body-pic .box-cirs-imgs .box-cirs li {
  float: left;
  width: 8px;
  height: 8px;
  margin-right: 5px;
  border-radius: 50%;
  cursor: pointer;
  background-color: #00263c;
}
.page-wrapper .body-pic .box-cirs-imgs .box-cirs .active {
  background-color: #00bebe;
}
.page-wrapper .body-pic .box-cirs-imgs .box-logo-text-bt {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
}
.page-wrapper .body-pic .box-cirs-imgs .box-logo-text-bt .box-logo {
  width: 228px;
  height: 56px;
  margin-bottom: 20px;
}
.page-wrapper .body-pic .box-cirs-imgs .box-logo-text-bt .box-logo img {
  width: 100%;
}
.page-wrapper .body-pic .box-cirs-imgs .box-logo-text-bt .boxs-text {
  line-height: 20px;
  position: relative;
}
.page-wrapper .body-pic .box-cirs-imgs .box-logo-text-bt .boxs-text .box-text {
  position: absolute;
  top: 0;
  left: 0;
}
.page-wrapper .body-pic .box-cirs-imgs .box-logo-text-bt .boxs-text .showtext {
  animation: ani_text 1s ease 1;
}
.page-wrapper .body-pic .box-cirs-imgs .box-logo-text-bt .boxs-text .showtext h3 {
  font-size: 32px;
  line-height: 32px;
  margin-bottom: 40px;
  font-weight: 100;
}
.page-wrapper .body-pic .box-cirs-imgs .box-logo-text-bt .boxs-text .showtext p {
  font-size: 16px;
  line-height: 16px;
  margin-bottom: 20px;
}
.page-wrapper .body-pic .box-cirs-imgs .box-logo-text-bt .box-bt {
  width: 210px;
  height: 50px;
  margin: 0 0 0 0;
}
.page-wrapper .body-pic .box-cirs-imgs .box-logo-text-bt .box-bt .bt {
  display: inline-block;
  font-size: 16px;
  font-weight: 700;
  color: #fff;
  transition: 0.3s ease;
  width: 186px;
  height: 46px;
  line-height: 46px;
  text-align: center;
  border-radius: 100px;
  padding: 0 10px;
  border: 2px solid #fff;
}
.page-wrapper .body-pic .box-cirs-imgs .box-logo-text-bt .box-bt:hover .bt {
  color: #000;
  background: #fff;
}
.footer .footer-text-pics {
  margin: 80px 89px 0 89px;
  box-sizing: border-box;
  position: relative;
}
.footer .footer-text-pics .footer-text {
  width: 100%;
  height: 48px;
  margin-bottom: 40px;
}
.footer .footer-text-pics .footer-text .span {
  margin: 0 auto;
  width: 269px;
  height: 45px;
  overflow: hidden;
}
.footer .footer-text-pics .footer-text .span span {
  display: block;
  float: left;
  font-size: 34px;
  font-weight: 300;
}
.footer .footer-text-pics .footer-pics {
  width: 229px;
  height: 114.5px;
  margin: 90px 0 60px 0;
  display: inline-block;
  position: relative;
  left: 48%;
  transform: translate(-50%);
}
.footer .footer-text-pics .footer-pics .img1 {
  width: 117px;
  height: 114.5px;
  display: inline-block;
}
.footer .footer-text-pics .footer-pics .img1 img {
  width: 100%;
}
.footer .footer-text-pics .footer-pics .img2 {
  width: 160px;
  height: 54px;
  margin-bottom: 30px;
  margin-top: 30px;
  display: inline-block;
  position: absolute;
  left: 139px;
}
.footer .footer-text-pics .footer-pics .img2 img {
  width: 100%;
}
.footer .footer-text-pics .footer-a_ul .footer-left_ul {
  position: absolute;
  left: -69px;
}
.footer .footer-text-pics .footer-a_ul .footer-left_ul span {
  padding-right: 10px;
  font-weight: bold;
  font-size: 14px;
}
.footer .footer-text-pics .footer-a_ul .footer-left_ul ul {
  display: inline-block;
}
.footer .footer-text-pics .footer-a_ul .footer-left_ul ul li {
  float: left;
  letter-spacing: 2px;
  font-size: 15px;
  margin-right: 20px;
  cursor: pointer;
}
.footer .footer-text-pics .footer-a_ul .footer-left_ul ul li:hover {
  text-decoration: underline;
}
@-moz-keyframes ani_nav {
  0% {
    opacity: 0;
  }
  60% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes ani_nav {
  0% {
    opacity: 0;
  }
  60% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-o-keyframes ani_nav {
  0% {
    opacity: 0;
  }
  60% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes ani_nav {
  0% {
    opacity: 0;
  }
  60% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes ani_es6-8-pic {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes ani_es6-8-pic {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-o-keyframes ani_es6-8-pic {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes ani_es6-8-pic {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes ani_nio-logopic {
  0% {
    opacity: 0;
  }
  45% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes ani_nio-logopic {
  0% {
    opacity: 0;
  }
  45% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-o-keyframes ani_nio-logopic {
  0% {
    opacity: 0;
  }
  45% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes ani_nio-logopic {
  0% {
    opacity: 0;
  }
  45% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes ani_text {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  80% {
    opacity: 0;
    transform: translateY(20px);
  }
  90% {
    opacity: 0.7;
    transform: translateY(10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@-webkit-keyframes ani_text {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  80% {
    opacity: 0;
    transform: translateY(20px);
  }
  90% {
    opacity: 0.7;
    transform: translateY(10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@-o-keyframes ani_text {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  80% {
    opacity: 0;
    transform: translateY(20px);
  }
  90% {
    opacity: 0.7;
    transform: translateY(10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes ani_text {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  80% {
    opacity: 0;
    transform: translateY(20px);
  }
  90% {
    opacity: 0.7;
    transform: translateY(10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@-moz-keyframes ani_button {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  80% {
    opacity: 0;
    transform: translateY(20px);
  }
  90% {
    opacity: 0.7;
    transform: translateY(10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@-webkit-keyframes ani_button {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  80% {
    opacity: 0;
    transform: translateY(20px);
  }
  90% {
    opacity: 0.7;
    transform: translateY(10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@-o-keyframes ani_button {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  80% {
    opacity: 0;
    transform: translateY(20px);
  }
  90% {
    opacity: 0.7;
    transform: translateY(10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes ani_button {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  80% {
    opacity: 0;
    transform: translateY(20px);
  }
  90% {
    opacity: 0.7;
    transform: translateY(10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@-moz-keyframes ani_img {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes ani_img {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
@-o-keyframes ani_img {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
@keyframes ani_img {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
