.container,.page {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}
.tab {
    display: none;
}
.tab.show {
    display: block;
}
.weui-cell__hd img{
    border-radius: 50%;
}
.mine-title {
    text-align: center;
    font-size: 18px;
    padding: 10px;
    border-bottom: 1px solid #eee;
    background-color: #fff;
    font-weight: bold;  /*字体加粗*/
}